*{
    margin: 0;
    padding: 0;
}

#main{
    width: 100vw;
    height: 100vh;
    position: relative;
}

#status-container{
    display: flex;
    height: 15%;
}

#status-container div{
    flex: 25%;
    font-size: .7rem;
    padding: 5px 15px;
    text-align: center;
}

.stats{
    border: 4px solid red;
    margin: 5px;
    border-radius: 5px;
}

.stats span:first-child{
    font-size: 1.2rem;
}

#status-container div span{
    display: block;
}


.status-label{
    font-weight: bold;
    font-size: .8rem;
    text-transform: uppercase;
}

#game-display-container{
    background-color: green;
    height: 85%;
    width: 100%;
    padding: 10px;
    position: absolute;
    top: 15%;
    left: 0;

    border-right: 5px solid #fff;
    border-left: 5px solid #fff;
    
}

#game-display{
    background-color: green;
    height: 90%;
    width: 90%;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
}

.description{
    text-align: left;
    padding-left: 30px;
}

.target{
    width: 50px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    transition: 0.5ms;
}

.good{
    background-color: orange;
}

.bad{
    background-color: red;
}

.add-bullet{
    background-color: yellow;
}

.normal{
    background-color: white;
    border: 1px solid #2e2e2e;
}

.remove{
    display: none;
}

.show{
    display: block;
}

/* https://www.w3schools.com/howto/howto_css_modals.asp for modal */
.modal{
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.modal-content{
    background-color: #fefefe;
    margin: 40% auto 0; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center; 
}

.modal-content p{
    margin: 0;
}

.modal-content p:first-child{
    font-weight: bold;
}

.modal-content button{
    min-width: 150px;
    margin: 15px auto 0;
}

#how-to-play{
    position: relative;
    z-index: 5;
    left: 0;
    overflow: hidden;
    width: 100%;
}

.show-instructions{
    height: 100%;
}

.hide-instructions{
    height: 0;
}

/* Grid display https://www.w3schools.com/css/css_grid.asp */
#instruction-container{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 20px;
}

/* Media Queries */

@media screen and (min-width:468px){
    .modal-content{
        margin: 20% auto 0;
    }
}